.schezwanSauceFrame {
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}
.appleJuice,
.ml {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
}
.ml {
  color: var(--color-gray);
}
.chilliSauceFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: center;
}
.b {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  color: rgb(116, 108, 108);
  white-space: nowrap;
  text-align: center;
}
.appleJuiceFrame {
  width: 120px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: black;
  font-family: var(--font-mulish);
}
