.frameChild {
  height: 48px;
  width: 156px;
  position: relative;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-chocolate-100);
  box-sizing: border-box;
  display: none;
}
.locateStore {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  font-family: var(--font-mulish);
  color: #0956CC;
  text-align: center;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 1px solid #0956CC;
  height: 55px;
  width: 360px;
  background-color: transparent;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.rectangleParent:hover {
  /* background-color: var(--color-chocolate-300); */
  /* border: 1px solid var(--color-chocolate-200); */
  box-sizing: border-box;
}
.frameItem {
  height: 48px;
  width: 156px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-chocolate-100);
  display: none;
}
.addToCart {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  font-family: var(--font-mulish);
  color: var(--color-azure);
  text-align: center;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  height: 55px;
  width: 364px;
  background-color: #0956CC;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.rectangleGroup:hover {
  /* background-color: var(--color-chocolate-200); */
}
.noLactoseOrCasein {
  align-self: stretch;
  background-color: var(--color-azure);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
  z-index: 1;
}
.antiInflammatoryProperties,
.frameInner {
  border-top: 1px solid var(--color-paleturquoise);
  box-sizing: border-box;
  height: 1px;
}
.antiInflammatoryProperties {
  align-self: stretch;
  position: relative;
}
.frameInner {
  position: absolute;
  top: 47px;
  left: 0;
  width: 361px;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 16px;
  width: 17px;
  height: 47px;
}
.milkSourcingBegins,
.october12023 {
  position: relative;
  letter-spacing: 0.01em;
}
.october12023 {
  width: 94px;
  border: 0;
  outline: 0;
  font-family: var(--font-mulish);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 15px;
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
}
.milkSourcingBeginsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-9xs);
}
.iconamoonarrowUp2 {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  right: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameParent {
  position: absolute;
  top: 1px;
  left: 40px;
  width: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineParent {
  align-self: stretch;
  height: 47px;
  position: relative;
}
.home {
  position: absolute;
  height: calc(100% - 16px);
  top: 12px;
  bottom: 4px;
  left: calc(50% - 50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 100px;
}
.navigation {
  align-self: stretch;
  height: 20px;
  position: relative;
  background-color: var(--color-azure);
  display: none;
}
.dropdownTop {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  gap: var(--gap-xs);
}
.home1 {
  position: absolute;
  height: calc(100% - 16px);
  top: 12px;
  bottom: 4px;
  left: calc(50% - 50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 100px;
}
.navigation1 {
  align-self: stretch;
  height: 20px;
  position: relative;
  background-color: var(--color-azure);
  z-index: 1;
  margin-top: -45px;
}
.navigationHomeFrame {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdownLastChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-paleturquoise);
  box-sizing: border-box;
}
.arrivalOnShelves,
.january12024 {
  position: relative;
  letter-spacing: 0.01em;
}
.january12024 {
  color: var(--color-gray);
}
.arrivalOnShelvesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-9xs);
}
.iconamoonarrowUp21 {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  right: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.dropdownLastInner,
.frameGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameGroup {
  flex: 1;
  align-items: center;
  position: relative;
}
.dropdownLastInner {
  width: 330px;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.dropdownLastItem {
  width: 17px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 16px;
  z-index: 1;
}
.lineDiv {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-paleturquoise);
  box-sizing: border-box;
}
.home2 {
  position: absolute;
  height: calc(100% - 16px);
  top: 12px;
  bottom: 4px;
  left: calc(50% - 50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 100px;
}
.navigation2 {
  align-self: stretch;
  height: 20px;
  position: relative;
  background-color: var(--color-azure);
  display: none;
  z-index: 4;
}
.dropdownLast,
.newArrivals,
.weightManagement {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.dropdownLast {
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  z-index: 7;
  margin-top: -1px;
}
.newArrivals,
.weightManagement {
  align-items: flex-start;
}
.newArrivals {
  flex: 1;
  margin-top: -15px;
}
.weightManagement {
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-seagreen);
  z-index: 0;
  font-family: var(--font-mulish);
}
.productJourney {
  width: 357px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  margin-top: 20px;
  margin-left: 16px;
  color: black;
}
.appleJuiceRectangleFrame,
.bringYourOwnContainerGetO {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bringYourOwnContainerGetO {
  /* align-items: center; */
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-seagreen);
  font-family: var(--font-mulish);
}
